@charset "utf-8";
/* CSS Document */

#profile{
	width:250px;
	height:61px;
	position:absolute;
	background:url(profileback.png);
	background-size:contain;
	background-repeat:no-repeat;
	right:-1px;
	top:0px;
	z-index:2;
}

#profileimage{
	position:absolute;
	top:2px;
	left:1px;
	width:58px;
	height:58px;
	border:medium;
	border-color:#FFF;
}

#profilename{
	position:absolute;
	top:0px;
	left:65px;
	color:#FFF;
}

#alertCounter{
	background:#F00;
	width:14px;
	height:14px;
	position:absolute;
	left:47px;
	top:47px;
	text-align:center;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#alertCounterText{
	position:absolute;
	left:3px;
	top:-9px;
	color:#FFF;
	font:Arial, Helvetica, sans-serif;
	font-size:9px;
}


#pointpic{
	width:20px;
	height:20px;
	position:absolute;
	left:62px;
	bottom:5px;
}

#points{
	position:absolute;
	left:85px;
	bottom:5px;
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
}


#creditpic{
	width:20px;
	height:20px;
	position:absolute;
	left:120px;
	bottom:3px;
}

#credits{
	position:absolute;
	left:140px;
	bottom:5px;
	font:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
}

#awardpic{
	width:15px;
	height:15px;
	position:absolute;
	left:170px;
	bottom:5px;
}

#awards{
	position:absolute;
	left:190px;
	bottom:5px;
	font:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
}

#linkpic{
	width:20px;
	height:20px;
	position:absolute;
	left:205px;
	bottom:5px;
}

#links{
	position:absolute;
	left:225px;
	bottom:5px;
	font:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
}
