@charset "utf-8";
/* CSS Document */

#profile{
	width:250px;
	height:160px;
	position:absolute;
	background:#c3c7ff;
	right:30px;
	top:50px;
	-moz-box-shadow: 3px 3px 4px #CCC;
	-webkit-box-shadow: 3px 3px 4px #CCC;
	box-shadow: 3px 3px 4px #CCC;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#profileimage{
	position:absolute;
	top:10px;
	left:10px;
	width:70px;
	height:70px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#profilename{
	position:absolute;
	top:0px;
	left:90px;
}

#profiletitle{
	position:absolute;
	top:18px;
	left:90px;
	max-width:150px;
	font:Arial, Helvetica, sans-serif;
	font-size:13px;
}

#alertCounter{
	background:#F00;
	width:20px;
	height:20px;
	position:absolute;
	left:63px;
	top:63px;
	text-align:center;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#alertCounterText{
	position:absolute;
	left:3px;
	top:-10px;
	color:#FFF;
	font:Arial, Helvetica, sans-serif;
	font-size:13px;
}


#pointpic{
	width:30px;
	height:30px;
	position:absolute;
	left:10px;
	top:90px;
}

#points{
	position:absolute;
	left:50px;
	top:90px;
	font:Arial, Helvetica, sans-serif;
	font-size:24px;
}


#creditpic{
	width:20px;
	height:20px;
	position:absolute;
	left:10px;
	bottom:10px;
}

#credits{
	position:absolute;
	left:30px;
	bottom:10px;
	font:Arial, Helvetica, sans-serif;
	font-size:13px;
}

#awardpic{
	width:20px;
	height:20px;
	position:absolute;
	left:120px;
	bottom:10px;
}

#awards{
	position:absolute;
	left:140px;
	bottom:10px;
	font:Arial, Helvetica, sans-serif;
	font-size:13px;
}

#linkpic{
	width:20px;
	height:20px;
	position:absolute;
	left:190px;
	bottom:10px;
}

#links{
	position:absolute;
	left:210px;
	bottom:10px;
	font:Arial, Helvetica, sans-serif;
	font-size:13px;
}
