@charset "utf-8";
/* CSS Document */

body { 
	margin: 0; padding: 0; width:100%; font-size:13px;
	color: #000;
	font-family:Arial, sans-serif;
	
}
h3 {
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
}


footer {
	width:100%;
	height:150px;
	background-color:#FC9;
}


.control {
	border-radius: 3px;
	border-width:1px;
	cursor: pointer;
	border-style:solid;
	color: #FFF;
	text-align: center;
}

.control:active{
	box-shadow:inset .8px 1.2px 2px #333;
}

.btn {
	font-size:14px;
	padding:4px 10px;
	margin:5px 5px 3px 5px;
	border-color:#3079ED;
	background-color:#4D90FE;
	display:inline-block;
}

.btn:hover{
	background-color:#3079ED;
	border-color: #1562D5;
}

/*For focus.js*/